.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.todo {
  display: block;
  border: 1px solid red;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.todo::before {
  content: "TO DO: ";
  font-weight: bold;
  color: red;
}

.honor {
  display: block;
  border: 1px solid blue;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.honor::before {
  content: "Honor: ";
  font-weight: bold;
  color: blue;
}
